/* Registration.css */

.registration-form svg{
    width: 5%;
}

.registration-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .registration-form input,
  .registration-form select {
    margin-bottom: 10px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .gender-container,
  .avatar-container,
  .country-container {
    margin-bottom: 15px;
  }

  .avatar-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .avatar-preview{
    color: blue;
    height: 2.5rem;
  }

  button {
    padding: 10px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  